# Visualization of KSI dataset (Predestrian) for Toronto Police Service -- Sprint 1
by Tony Chan, Micahaela Hrabetova, Lu Han, Sangeeta Khanna

## Motivation
This notebook only contains the cleaned dataset and other useful variables associated to assist the modeling for other notebooks.

In [1]:
from __future__ import division

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib as mpl
import scipy.stats as stats


sns.set_style('whitegrid')
%matplotlib inline


# statsmodels
import statsmodels.formula.api as smf
import statsmodels.api as sm


# sci-kit learn

from sklearn.linear_model import LinearRegression
# from sklearn.neighbors import KNeighborsClassifier
# from sklearn.svm import LinearSVC
# from sklearn import svm
# from sklearn.datasets import make_classification

# sci-kit learn Random Forest
import sklearn as sk
import sklearn.datasets as skd
import sklearn.ensemble as ske


# Performance metrics
from sklearn import metrics
from sklearn.model_selection import train_test_split
#from sklearn.metrics import accuracy_score


# helpers
from numpy.random import randn
from pprint import pprint

In [ ]:
pd.set_option('display.float_format', lambda x: '%.2f' % x)

## Data Structure and Description

In [2]:
df_meta = pd.read_csv("../src/data/pedestrian/KSI_Metadata.csv")
# df_meta

In [3]:
df = pd.read_csv("../src/data/pedestrian/Pedestrians.csv")
df.head(10)

,X,Y,Index_,ACCNUM,YEAR,DATE,TIME,HOUR,STREET1,STREET2,...,EMERG_VEH,PASSENGER,SPEEDING,AG_DRIV,REDLIGHT,ALCOHOL,DISABILITY,Hood_ID,Neighbourhood,ObjectId
0,-8.839464e+06,5.411883e+06,3366651,884090,2006,2006/01/02 05:00:00+00,705,7,BATHURST ST,DUNDAS ST W,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,78,Kensington-Chinatown (78),1
1,-8.839464e+06,5.411883e+06,3366652,884090,2006,2006/01/02 05:00:00+00,705,7,BATHURST ST,DUNDAS ST W,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,78,Kensington-Chinatown (78),2
2,-8.842507e+06,5.412229e+06,3370333,885782,2006,2006/01/04 05:00:00+00,1940,19,DUFFERIN ST,SYLVAN AVE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,83,Dufferin Grove (83),3
3,-8.842507e+06,5.412229e+06,3370334,885782,2006,2006/01/04 05:00:00+00,1940,19,DUFFERIN ST,SYLVAN AVE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,83,Dufferin Grove (83),4
4,-8.832963e+06,5.431006e+06,3363337,882079,2006,2006/01/06 05:00:00+00,2210,22,DON MILLS RD,LEITH HILL RD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47,Don Valley Village (47),5
5,-8.832963e+06,5.431006e+06,3363338,882079,2006,2006/01/06 05:00:00+00,2210,22,DON MILLS RD,LEITH HILL RD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47,Don Valley Village (47),6
6,-8.856366e+06,5.422436e+06,3363864,882497,2006,2006/01/08 05:00:00+00,1828,18,ISLINGTON AVE,GOLFDOWN DR,...,NaN,Yes,NaN,Yes,NaN,NaN,NaN,5,Elms-Old Rexdale (5),7
7,-8.856366e+06,5.422436e+06,3363865,882497,2006,2006/01/08 05:00:00+00,1828,18,ISLINGTON AVE,GOLFDOWN DR,...,NaN,Yes,NaN,Yes,NaN,NaN,NaN,5,Elms-Old Rexdale (5),8
8,-8.856366e+06,5.422436e+06,3363866,882497,2006,2006/01/08 05:00:00+00,1828,18,ISLINGTON AVE,GOLFDOWN DR,...,NaN,Yes,NaN,Yes,NaN,NaN,NaN,5,Elms-Old Rexdale (5),9
9,-8.856366e+06,5.422436e+06,3363867,882497,2006,2006/01/08 05:00:00+00,1828,18,ISLINGTON AVE,GOLFDOWN DR,...,NaN,Yes,NaN,Yes,NaN,NaN,NaN,5,Elms-Old Rexdale (5),10

In [4]:
df.shape

(6484, 56)

In [5]:
# df.info()

In [6]:
#df.nunique()

In [7]:
df.describe(include='all')

,X,Y,Index_,ACCNUM,YEAR,DATE,TIME,HOUR,STREET1,STREET2,...,EMERG_VEH,PASSENGER,SPEEDING,AG_DRIV,REDLIGHT,ALCOHOL,DISABILITY,Hood_ID,Neighbourhood,ObjectId
count,6.484000e+03,6.484000e+03,6.484000e+03,6.484000e+03,6484.000000,6484,6484.000000,6484.000000,6484,5897,...,6,1071,319,2686,233,138,48,6484.000000,6484,6484.000000
unique,NaN,NaN,NaN,NaN,NaN,1932,NaN,NaN,948,1340,...,1,1,1,1,1,1,1,NaN,139,NaN
top,NaN,NaN,NaN,NaN,NaN,2010/01/12 05:00:00+00,NaN,NaN,YONGE ST,BATHURST ST,...,Yes,Yes,Yes,Yes,Yes,Yes,Yes,NaN,Waterfront Communities-The Island (77),NaN
freq,NaN,NaN,NaN,NaN,NaN,16,NaN,NaN,170,79,...,6,1071,319,2686,233,138,48,NaN,240,NaN
mean,-8.837812e+06,5.420925e+06,3.333244e+07,2.391683e+09,2012.066471,NaN,1384.851326,13.642659,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,76.493523,NaN,3242.500000
std,1.081386e+04,8.535799e+03,3.613835e+07,3.323854e+09,4.028327,NaN,609.631340,5.956279,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39.407154,NaN,1871.913905
min,-8.863480e+06,5.402879e+06,3.363337e+06,8.820790e+05,2006.000000,NaN,0.000000,0.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,1.000000
25%,-8.844488e+06,5.413384e+06,5.374980e+06,1.089526e+06,2009.000000,NaN,935.000000,9.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45.750000,NaN,1621.750000
50%,-8.838067e+06,5.419695e+06,7.459824e+06,1.299362e+06,2012.000000,NaN,1454.000000,14.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,77.000000,NaN,3242.500000
75%,-8.829778e+06,5.428100e+06,8.056280e+07,6.000145e+09,2016.000000,NaN,1900.000000,19.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,111.000000,NaN,4863.250000
max,-8.808254e+06,5.440396e+06,8.140174e+07,9.002500e+09,2019.000000,NaN,2358.000000,23.000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,140.000000,NaN,6484.000000

## Data Manipulation and Cleaning

### Uniquie Identifiers

Nothing to alter here, just need to remove ObjectId at the end, because it's repeated.

### Time

In [8]:
# FIXING DATE
df['MY_DATE'] = pd.to_datetime(df['DATE'], errors='coerce', format='%Y/%m/%d').dt.date

# FIXING HOUR
df['MY_HOUR'] = df['HOUR'].map('{:02d}'.format)

# FIXING MINUTE
df['MY_MIN'] = df['TIME'] - (df['HOUR'] * 100)

# THERE ARE ABOUT 130 ROWS WITH MINUTE PROBLEM, AFTER THE ABOVE CONVERSION
# we will just change minute data to "0"
# wrong
df['MY_MIN'][df['MY_MIN'] < 0] = 0

# CHECKING CODE
#df.set_index('MY_DATE', inplace=True)
#df['MY_DATE'].head(5)
#df[['TIME', 'MY_MIN']]
df['DATE_TIME'] = pd.to_datetime(df['MY_DATE'].apply(lambda x: x.strftime('%Y-%m-%d')) + ' ' + df['MY_HOUR'].astype(str) + ':' + df['MY_MIN'].astype(str))
df['DATE_TIME']

0      2006-01-02 07:05:00
1      2006-01-02 07:05:00
2      2006-01-04 19:40:00
3      2006-01-04 19:40:00
4      2006-01-06 22:10:00
               ...
6479   2019-06-25 20:02:00
6480   2019-06-25 20:02:00
6481   2019-06-26 09:02:00
6482   2019-06-26 09:02:00
6483   2019-06-27 18:50:00
Name: DATE_TIME, Length: 6484, dtype: datetime64[ns]

In [9]:
df['DATE'] = pd.to_datetime(df['DATE'], errors='coerce', format='%Y/%m/%d')

set 'DATE_TIME' to be indexable to make search easier

In [10]:
df = df.drop(['MY_DATE', 'MY_HOUR', 'MY_MIN'], axis=1)
df.set_index('DATE_TIME', inplace=True)
df.sort_index()
df.head(5)

,X,Y,Index_,ACCNUM,YEAR,DATE,TIME,HOUR,STREET1,STREET2,...,EMERG_VEH,PASSENGER,SPEEDING,AG_DRIV,REDLIGHT,ALCOHOL,DISABILITY,Hood_ID,Neighbourhood,ObjectId
DATE_TIME,,,,,,,,,,,,,,,,,,,,,
2006-01-02 07:05:00,-8.839464e+06,5.411883e+06,3366651,884090,2006,2006-01-02 05:00:00+00:00,705,7,BATHURST ST,DUNDAS ST W,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,78,Kensington-Chinatown (78),1
2006-01-02 07:05:00,-8.839464e+06,5.411883e+06,3366652,884090,2006,2006-01-02 05:00:00+00:00,705,7,BATHURST ST,DUNDAS ST W,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,78,Kensington-Chinatown (78),2
2006-01-04 19:40:00,-8.842507e+06,5.412229e+06,3370333,885782,2006,2006-01-04 05:00:00+00:00,1940,19,DUFFERIN ST,SYLVAN AVE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,83,Dufferin Grove (83),3
2006-01-04 19:40:00,-8.842507e+06,5.412229e+06,3370334,885782,2006,2006-01-04 05:00:00+00:00,1940,19,DUFFERIN ST,SYLVAN AVE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,83,Dufferin Grove (83),4
2006-01-06 22:10:00,-8.832963e+06,5.431006e+06,3363337,882079,2006,2006-01-06 05:00:00+00:00,2210,22,DON MILLS RD,LEITH HILL RD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47,Don Valley Village (47),5

### Location

#### District

#### STREET1 & STREET2
see in the next section for combining and pinpoint interesection

#### LATITUDE & LONGITUDE
see in the next section for more geospatial visualization

### Location Class
'ROAD_CLASS', 'LOCCOORD', 'ACCLOC', 'TRAFFCTL'

In [11]:
location_class_list = ['ROAD_CLASS', 'LOCCOORD', 'ACCLOC', 'TRAFFCTL']

### Road Conditions
'VISIBILITY', 'LIGHT', 'RDSFCOND'

In [12]:
road_conditions_list = ['VISIBILITY', 'LIGHT', 'RDSFCOND']

### Accident Class
'ACCLASS', 'IMPACTYPE'

In [13]:
accident_class_list = ['ACCLASS', 'IMPACTYPE']

In [14]:
# IMPACTYPE has no significant value, we will remove it.
accident_class_list.remove('IMPACTYPE')

### Involvement Class
'INVTYPE', 'INVAGE', 'INJURY', 'FATAL_NO'

In [15]:
involvement_class_list = ['INVTYPE', 'INVAGE', 'INJURY', 'FATAL_NO']

### Vehicle Related
'INITDIR', 'VEHTYPE', 'MANOEUVER', 'DRIVACT', 'DRIVCOND'

In [16]:
vehicle_related_list = ['INITDIR', 'VEHTYPE', 'MANOEUVER', 'DRIVACT', 'DRIVCOND']

### Pedestrian Related
'PEDTYPE', 'PEDACT', 'PEDCOND'

In [17]:
pedestrian_related_list = ['PEDTYPE', 'PEDACT', 'PEDCOND']

### Cyclist Related
'CYCLISTYPE', 'CYCACT', 'CYCCOND'

In [18]:
cyclist_related_list = ['CYCLISTYPE', 'CYCACT', 'CYCCOND']

### Pedestrian Column

In [19]:
test = df['PEDESTRIAN']
test.describe()

count     6484
unique       1
top        Yes
freq      6484
Name: PEDESTRIAN, dtype: object

We can safely remove this column

### Parties Involved
'CYCLIST', 'AUTOMOBILE', 'MOTORCYCLE', 'TRUCK', 'TRSN_CITY_VEH', 'EMERG_VEH', 'PASSENGER'

In [20]:
parties_involved_list = ['CYCLIST', 'AUTOMOBILE', 'MOTORCYCLE', 'TRUCK', 'TRSN_CITY_VEH', 'EMERG_VEH', 'PASSENGER']

### Driving Behaviors
'SPEEDING', 'AG_DRIV', 'REDLIGHT', 'ALCOHOL', 'DISABILITY'

In [21]:
driving_behaviors_list = ['SPEEDING', 'AG_DRIV', 'REDLIGHT', 'ALCOHOL', 'DISABILITY']

### Police Control
'WardNum', 'Division', 'Hood_ID', 'Neighbourhood'

In [22]:
police_control_list = ['WardNum', 'Division', 'Hood_ID', 'Neighbourhood']

## Feature Engineering and Data Conversion

### Columns to be removed

In [23]:
# columns_to_delete = ['X', 'Y', 'FATAL_NO', 'PEDESTRIAN', 'ObjectId']
# LET'S NOT DELETE 'PEDESTRIAN' at this point
#columns_to_delete1 = ['X', 'Y', 'FATAL_NO', 'ObjectId']
columns_to_delete1 = ['X', 'Y', 'ObjectId']
df = df.drop(columns_to_delete1, axis=1)
columns_to_delete2 = ['IMPACTYPE']
df = df.drop(columns_to_delete2, axis=1)
# df

### Converting Columns with 'Yes' Labels into boolean data type

In [24]:
def convert_to_bool_type(columns):
    for i in columns:
        #df['CYCLIST'] = np.where(df['CYCLIST'] == 'Yes', True, False)
        df[i] = np.where(df[i] == 'Yes', True, False)

In [25]:
columns_obj_to_boolean = ['PEDESTRIAN', 'CYCLIST', 'AUTOMOBILE', 'MOTORCYCLE', 'TRUCK', 'TRSN_CITY_VEH', 'EMERG_VEH', 'PASSENGER', 'SPEEDING', 'AG_DRIV', 'REDLIGHT', 'ALCOHOL', 'DISABILITY']
convert_to_bool_type(columns_obj_to_boolean)

In [26]:
df['ACCLASS'] = np.where(df['ACCLASS'] == 'Fatal', True, False)

In [27]:
#df['IMPACTYPE'] = np.where(df['IMPACTYPE'] == 'Pedestrian Collisions', True, False)

### Converting Columns to Categorical Units

how to convert cat to num  
https://stackoverflow.com/questions/38088652/pandas-convert-categories-to-numbers

In [28]:
columns_obj_to_cat1 = ['District', 'WardNum']
columns_obj_to_cat2 = ['ROAD_CLASS', 'LOCCOORD', 'ACCLOC', 'TRAFFCTL']
columns_obj_to_cat3 = ['VISIBILITY', 'LIGHT', 'RDSFCOND']
columns_obj_to_cat4 = ['INVTYPE', 'INJURY']
columns_obj_to_cat5 = ['INITDIR', 'VEHTYPE', 'MANOEUVER', 'DRIVACT', 'DRIVCOND']
columns_obj_to_cat6 = ['PEDTYPE', 'PEDACT', 'PEDCOND', 'CYCLISTYPE', 'CYCACT', 'CYCCOND']

li_cat_cols = [columns_obj_to_cat1, columns_obj_to_cat2, columns_obj_to_cat3, columns_obj_to_cat4, columns_obj_to_cat5, columns_obj_to_cat6]

In [29]:
for i in li_cat_cols:
    for j in i:
        name_mod = j + '_cc'
        df[j] = pd.Categorical(df[j])
        df[name_mod] = df[j].cat.codes
        # df[name_mod] = df[j].astype('category').cat.codes

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6484 entries, 2006-01-02 07:05:00 to 2019-06-27 18:50:00
Data columns (total 74 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Index_         6484 non-null   int64
 1   ACCNUM         6484 non-null   int64
 2   YEAR           6484 non-null   int64
 3   DATE           6484 non-null   datetime64[ns, UTC]
 4   TIME           6484 non-null   int64
 5   HOUR           6484 non-null   int64
 6   STREET1        6484 non-null   object
 7   STREET2        5897 non-null   object
 8   OFFSET         916 non-null    object
 9   ROAD_CLASS     6457 non-null   category
 10  District       6482 non-null   category
 11  WardNum        5464 non-null   category
 12  Division       6484 non-null   int64
 13  LATITUDE       6484 non-null   float64
 14  LONGITUDE      6484 non-null   float64
 15  LOCCOORD       6446 non-null   category
 16  ACCLOC         4391 non-null   category
 17  TRAFFCTL       6477 non-null   category
 18  VISIBILITY     6470 non-null   category
 19  LIGHT          6484 non-null   category
 20  RDSFCOND       6472 non-null   category
 21  ACCLASS        6484 non-null   bool
 22  INVTYPE        6477 non-null   category
 23  INVAGE         6484 non-null   object
 24  INJURY         5920 non-null   category
 25  FATAL_NO       393 non-null    float64
 26  INITDIR        5109 non-null   category
 27  VEHTYPE        5047 non-null   category
 28  MANOEUVER      2861 non-null   category
 29  DRIVACT        2661 non-null   category
 30  DRIVCOND       2659 non-null   category
 31  PEDTYPE        2570 non-null   category
 32  PEDACT         2564 non-null   category
 33  PEDCOND        2684 non-null   category
 34  CYCLISTYPE     15 non-null     category
 35  CYCACT         15 non-null     category
 36  CYCCOND        15 non-null     category
 37  PEDESTRIAN     6484 non-null   bool
 38  CYCLIST        6484 non-null   bool
 39  AUTOMOBILE     6484 non-null   bool
 40  MOTORCYCLE     6484 non-null   bool
 41  TRUCK          6484 non-null   bool
 42  TRSN_CITY_VEH  6484 non-null   bool
 43  EMERG_VEH      6484 non-null   bool
 44  PASSENGER      6484 non-null   bool
 45  SPEEDING       6484 non-null   bool
 46  AG_DRIV        6484 non-null   bool
 47  REDLIGHT       6484 non-null   bool
 48  ALCOHOL        6484 non-null   bool
 49  DISABILITY     6484 non-null   bool
 50  Hood_ID        6484 non-null   int64
 51  Neighbourhood  6484 non-null   object
 52  ROAD_CLASS_cc  6484 non-null   int8
 53  District_cc    6484 non-null   int8
 54  WardNum_cc     6484 non-null   int8
 55  LOCCOORD_cc    6484 non-null   int8
 56  ACCLOC_cc      6484 non-null   int8
 57  TRAFFCTL_cc    6484 non-null   int8
 58  VISIBILITY_cc  6484 non-null   int8
 59  LIGHT_cc       6484 non-null   int8
 60  RDSFCOND_cc    6484 non-null   int8
 61  INVTYPE_cc     6484 non-null   int8
 62  INJURY_cc      6484 non-null   int8
 63  INITDIR_cc     6484 non-null   int8
 64  VEHTYPE_cc     6484 non-null   int8
 65  MANOEUVER_cc   6484 non-null   int8
 66  DRIVACT_cc     6484 non-null   int8
 67  DRIVCOND_cc    6484 non-null   int8
 68  PEDTYPE_cc     6484 non-null   int8
 69  PEDACT_cc      6484 non-null   int8
 70  PEDCOND_cc     6484 non-null   int8
 71  CYCLISTYPE_cc  6484 non-null   int8
 72  CYCACT_cc      6484 non-null   int8
 73  CYCCOND_cc     6484 non-null   int8
dtypes: bool(14), category(22), datetime64[ns, UTC](1), float64(3), int64(7), int8(22), object(5)
memory usage: 1.2+ MB

In [31]:
# listing all those categories definitions
for i in li_cat_cols:
    for j in i:
        a = dict( enumerate(df[j].cat.categories ) )
        print("\nDictionary for Column: ", j)
        print(a)

Dictionary for Column:  ROAD_CLASS
{0: 'Collector', 1: 'Expressway', 2: 'Laneway', 3: 'Local', 4: 'Major Arterial', 5: 'Minor Arterial', 6: 'Other', 7: 'Pending'}

Dictionary for Column:  District
{0: 'Etobicoke York', 1: 'North York', 2: 'Scarborough', 3: 'Toronto and East York'}

Dictionary for Column:  WardNum
{0: 1.0, 1: 2.0, 2: 3.0, 3: 4.0, 4: 5.0, 5: 6.0, 6: 7.0, 7: 8.0, 8: 9.0, 9: 10.0, 10: 11.0, 11: 12.0, 12: 13.0, 13: 14.0, 14: 15.0, 15: 16.0, 16: 17.0, 17: 18.0, 18: 19.0, 19: 20.0, 20: 21.0, 21: 22.0, 22: 23.0, 23: 24.0, 24: 25.0}

Dictionary for Column:  LOCCOORD
{0: 'Intersection', 1: 'Mid-Block'}

Dictionary for Column:  ACCLOC
{0: 'At Intersection', 1: 'At/Near Private Drive', 2: 'Intersection Related', 3: 'Laneway', 4: 'Non Intersection', 5: 'Overpass or Bridge', 6: 'Private Driveway'}

Dictionary for Column:  TRAFFCTL
{0: 'No Control', 1: 'PXO - No Ped', 2: 'Pedestrian Crossover', 3: 'Police Control', 4: 'School Guard', 5: 'Stop Sign', 6: 'Streetcar (Stop for)', 7: 'Traffic Controller', 8: 'Traffic Gate', 9: 'Traffic Signal', 10: 'Yield Sign'}

Dictionary for Column:  VISIBILITY
{0: 'Clear', 1: 'Drifting Snow', 2: 'Fog, Mist, Smoke, Dust', 3: 'Freezing Rain', 4: 'Other', 5: 'Rain', 6: 'Snow', 7: 'Strong wind'}

Dictionary for Column:  LIGHT
{0: 'Dark', 1: 'Dark, artificial', 2: 'Dawn', 3: 'Dawn, artificial', 4: 'Daylight', 5: 'Daylight, artificial', 6: 'Dusk', 7: 'Dusk, artificial', 8: 'Other'}

Dictionary for Column:  RDSFCOND
{0: 'Dry', 1: 'Ice', 2: 'Loose Sand or Gravel', 3: 'Loose Snow', 4: 'Other', 5: 'Packed Snow', 6: 'Slush', 7: 'Wet'}

Dictionary for Column:  INVTYPE
{0: 'Cyclist', 1: 'Driver', 2: 'Driver - Not Hit', 3: 'In-Line Skater', 4: 'Motorcycle Driver', 5: 'Other', 6: 'Other Property Owner', 7: 'Passenger', 8: 'Pedestrian', 9: 'Pedestrian - Not Hit', 10: 'Trailer Owner', 11: 'Truck Driver', 12: 'Vehicle Owner', 13: 'Wheelchair', 14: 'Witness'}

Dictionary for Column:  INJURY
{0: 'Fatal', 1: 'Major', 2: 'Minimal', 3: 'Minor', 4: 'None'}

Dictionary for Column:  INITDIR
{0: 'East', 1: 'North', 2: 'South', 3: 'Unknown', 4: 'West'}

Dictionary for Column:  VEHTYPE
{0: 'Automobile, Station Wagon', 1: 'Bicycle', 2: 'Bus (Other) (Go Bus, Gray Coach)', 3: 'Construction Equipment', 4: 'Delivery Van', 5: 'Fire Vehicle', 6: 'Intercity Bus', 7: 'Motorcycle', 8: 'Municipal Transit Bus (TTC)', 9: 'Other', 10: 'Passenger Van', 11: 'Pick Up Truck', 12: 'Police Vehicle', 13: 'School Bus', 14: 'Street Car', 15: 'Taxi', 16: 'Truck (other)', 17: 'Truck - Car Carrier', 18: 'Truck - Closed (Blazer, etc)', 19: 'Truck - Dump', 20: 'Truck - Open', 21: 'Truck - Tank', 22: 'Truck-Tractor'}

Dictionary for Column:  MANOEUVER
{0: 'Changing Lanes', 1: 'Disabled', 2: 'Going Ahead', 3: 'Making U Turn', 4: 'Merging', 5: 'Other', 6: 'Overtaking', 7: 'Parked', 8: 'Pulling Away from Shoulder or Curb', 9: 'Pulling Onto Shoulder or towardCurb', 10: 'Reversing', 11: 'Slowing or Stopping', 12: 'Stopped', 13: 'Turning Left', 14: 'Turning Right', 15: 'Unknown'}

Dictionary for Column:  DRIVACT
{0: 'Disobeyed Traffic Control', 1: 'Driving Properly', 2: 'Exceeding Speed Limit', 3: 'Failed to Yield Right of Way', 4: 'Following too Close', 5: 'Improper Lane Change', 6: 'Improper Passing', 7: 'Improper Turn', 8: 'Lost control', 9: 'Other', 10: 'Speed too Fast For Condition', 11: 'Wrong Way on One Way Road'}

Dictionary for Column:  DRIVCOND
{0: 'Ability Impaired, Alcohol', 1: 'Ability Impaired, Alcohol Over .08', 2: 'Ability Impaired, Drugs', 3: 'Fatigue', 4: 'Had Been Drinking', 5: 'Inattentive', 6: 'Medical or Physical Disability', 7: 'Normal', 8: 'Other', 9: 'Unknown'}

Dictionary for Column:  PEDTYPE
{0: 'Other / Undefined', 1: 'Pedestrian hit a PXO/ped. Mid-block signal', 2: 'Pedestrian hit at mid-block', 3: 'Pedestrian hit at parking lot', 4: 'Pedestrian hit at private driveway', 5: 'Pedestrian hit on sidewalk or shoulder', 6: 'Pedestrian involved in a collision with transit vehicle anywhere along roadway', 7: 'Unknown', 8: 'Vehicle hits the pedestrian walking or running out from between parked vehicles at mid-block', 9: 'Vehicle is going straight thru inter.while ped cross with ROW', 10: 'Vehicle is going straight thru inter.while ped cross without ROW', 11: 'Vehicle is reversing and hits pedestrian', 12: 'Vehicle turns left while ped crosses with ROW at inter.', 13: 'Vehicle turns left while ped crosses without ROW at inter.', 14: 'Vehicle turns right while ped crosses with ROW at inter.', 15: 'Vehicle turns right while ped crosses without ROW at inter.'}

Dictionary for Column:  PEDACT
{0: 'Coming From Behind Parked Vehicle', 1: 'Crossing marked crosswalk without ROW', 2: 'Crossing with right of way', 3: 'Crossing without right of way', 4: 'Crossing, Pedestrian Crossover', 5: 'Crossing, no Traffic Control', 6: 'On Sidewalk or Shoulder', 7: 'Other', 8: 'Person Getting on/off School Bus', 9: 'Person Getting on/off Vehicle', 10: 'Playing or Working on Highway', 11: 'Pushing/Working on Vehicle', 12: 'Running onto Roadway', 13: 'Walking on Roadway Against Traffic', 14: 'Walking on Roadway with Traffic'}

Dictionary for Column:  PEDCOND
{0: 'Ability Impaired, Alcohol', 1: 'Ability Impaired, Alcohol Over .80', 2: 'Ability Impaired, Drugs', 3: 'Fatigue', 4: 'Had Been Drinking', 5: 'Inattentive', 6: 'Medical or Physical Disability', 7: 'Normal', 8: 'Other', 9: 'Unknown'}

Dictionary for Column:  CYCLISTYPE
{0: 'Cyclist strikes pedestrian.'}

Dictionary for Column:  CYCACT
{0: 'Disobeyed Traffic Control', 1: 'Driving Properly', 2: 'Failed to Yield Right of Way'}

Dictionary for Column:  CYCCOND
{0: 'Inattentive', 1: 'Normal', 2: 'Unknown'}

### Converting to Age Group into bagging

see this page:  
https://pandas.pydata.org/pandas-docs/stable/user_guide/categorical.html

In [32]:
age_list_bagging = { 
    'unknown'  : 0 ,
    '0 to 4'   : 1 ,
    '5 to 9'   : 2 , 
    '10 to 14' : 3 ,
    '15 to 19' : 4 , 
    '20 to 24' : 5 ,
    '25 to 29' : 6 ,
    '30 to 34' : 7 ,
    '35 to 39' : 8 , 
    '40 to 44' : 9 , 
    '45 to 49' : 10,
    '50 to 54' : 11,
    '55 to 59' : 12, 
    '60 to 64' : 13,
    '65 to 69' : 14, 
    '70 to 74' : 15, 
    '75 to 79' : 16, 
    '80 to 84' : 17, 
    '85 to 89' : 18, 
    '90 to 94' : 19, 
    'Over 95'  : 20 
}

reverse lookup for age -> age_list_index

In [33]:
age_list_index = {value : key for (key, value) in age_list_bagging.items()}
age_list_index

{0: 'unknown',
 1: '0 to 4',
 2: '5 to 9',
 3: '10 to 14',
 4: '15 to 19',
 5: '20 to 24',
 6: '25 to 29',
 7: '30 to 34',
 8: '35 to 39',
 9: '40 to 44',
 10: '45 to 49',
 11: '50 to 54',
 12: '55 to 59',
 13: '60 to 64',
 14: '65 to 69',
 15: '70 to 74',
 16: '75 to 79',
 17: '80 to 84',
 18: '85 to 89',
 19: '90 to 94',
 20: 'Over 95'}

In [34]:
df['INVAGE_cc'] = df['INVAGE'].map(age_list_bagging)
#test = df[['INVAGE_cc', 'INVAGE']]

In [35]:
# converting time to cat
df['ACCNUM'] = pd.Categorical(df['ACCNUM'])
df['YEAR'] = pd.Categorical(df['YEAR'])
df['HOUR'] = pd.Categorical(df['HOUR'])

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6484 entries, 2006-01-02 07:05:00 to 2019-06-27 18:50:00
Data columns (total 75 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Index_         6484 non-null   int64
 1   ACCNUM         6484 non-null   category
 2   YEAR           6484 non-null   category
 3   DATE           6484 non-null   datetime64[ns, UTC]
 4   TIME           6484 non-null   int64
 5   HOUR           6484 non-null   category
 6   STREET1        6484 non-null   object
 7   STREET2        5897 non-null   object
 8   OFFSET         916 non-null    object
 9   ROAD_CLASS     6457 non-null   category
 10  District       6482 non-null   category
 11  WardNum        5464 non-null   category
 12  Division       6484 non-null   int64
 13  LATITUDE       6484 non-null   float64
 14  LONGITUDE      6484 non-null   float64
 15  LOCCOORD       6446 non-null   category
 16  ACCLOC         4391 non-null   category
 17  TRAFFCTL       6477 non-null   category
 18  VISIBILITY     6470 non-null   category
 19  LIGHT          6484 non-null   category
 20  RDSFCOND       6472 non-null   category
 21  ACCLASS        6484 non-null   bool
 22  INVTYPE        6477 non-null   category
 23  INVAGE         6484 non-null   object
 24  INJURY         5920 non-null   category
 25  FATAL_NO       393 non-null    float64
 26  INITDIR        5109 non-null   category
 27  VEHTYPE        5047 non-null   category
 28  MANOEUVER      2861 non-null   category
 29  DRIVACT        2661 non-null   category
 30  DRIVCOND       2659 non-null   category
 31  PEDTYPE        2570 non-null   category
 32  PEDACT         2564 non-null   category
 33  PEDCOND        2684 non-null   category
 34  CYCLISTYPE     15 non-null     category
 35  CYCACT         15 non-null     category
 36  CYCCOND        15 non-null     category
 37  PEDESTRIAN     6484 non-null   bool
 38  CYCLIST        6484 non-null   bool
 39  AUTOMOBILE     6484 non-null   bool
 40  MOTORCYCLE     6484 non-null   bool
 41  TRUCK          6484 non-null   bool
 42  TRSN_CITY_VEH  6484 non-null   bool
 43  EMERG_VEH      6484 non-null   bool
 44  PASSENGER      6484 non-null   bool
 45  SPEEDING       6484 non-null   bool
 46  AG_DRIV        6484 non-null   bool
 47  REDLIGHT       6484 non-null   bool
 48  ALCOHOL        6484 non-null   bool
 49  DISABILITY     6484 non-null   bool
 50  Hood_ID        6484 non-null   int64
 51  Neighbourhood  6484 non-null   object
 52  ROAD_CLASS_cc  6484 non-null   int8
 53  District_cc    6484 non-null   int8
 54  WardNum_cc     6484 non-null   int8
 55  LOCCOORD_cc    6484 non-null   int8
 56  ACCLOC_cc      6484 non-null   int8
 57  TRAFFCTL_cc    6484 non-null   int8
 58  VISIBILITY_cc  6484 non-null   int8
 59  LIGHT_cc       6484 non-null   int8
 60  RDSFCOND_cc    6484 non-null   int8
 61  INVTYPE_cc     6484 non-null   int8
 62  INJURY_cc      6484 non-null   int8
 63  INITDIR_cc     6484 non-null   int8
 64  VEHTYPE_cc     6484 non-null   int8
 65  MANOEUVER_cc   6484 non-null   int8
 66  DRIVACT_cc     6484 non-null   int8
 67  DRIVCOND_cc    6484 non-null   int8
 68  PEDTYPE_cc     6484 non-null   int8
 69  PEDACT_cc      6484 non-null   int8
 70  PEDCOND_cc     6484 non-null   int8
 71  CYCLISTYPE_cc  6484 non-null   int8
 72  CYCACT_cc      6484 non-null   int8
 73  CYCCOND_cc     6484 non-null   int8
 74  INVAGE_cc      6484 non-null   int64
dtypes: bool(14), category(25), datetime64[ns, UTC](1), float64(3), int64(5), int8(22), object(5)
memory usage: 1.2+ MB

## Intersection Name
Merging Street 1 and Street 2 so it make sense

Problem:  
when combining 2 columns in to 1 i.e. (df['STREET'] = df['STREET1'] + ' & ' + df['STREET2']), you get different results.  

DUNDAS ST W & BLOOR ST W  -> 5 cases and  
BLOOR ST W & DUNDAS ST W  -> 5 (another 5 )  

where this should be consider 10 cases in total. We have to remap those Street into one entity.  

This code does not work  
df['STREET'] = df['STREET1'] + ' & ' + df['STREET2']  
cases_per_intersection = df.groupby(df['STREET'])['ACCNUM'].nunique().sort_values(ascending=False)  
cases_per_intersection

see this as an example:  

https://stackoverflow.com/questions/60313006/mapping-of-multiple-columns-categorical-values-in-pandas

In [37]:
df['STREET1_MOD'] = df['STREET1'].str.upper()
df['STREET2_MOD'] = df['STREET2'].str.upper()
stacked = df[['STREET1_MOD', 'STREET2_MOD']].stack()

In [38]:
codes, uniques = pd.factorize(stacked, sort=True)
print('codes: ', codes)
print('uniques:', uniques)

codes:  [ 346  707  346 ... 1465 1110 1735]
uniques: Index(['1 AUTUMN AVE', '1 MASSEY SQ', '100 STEELES AVE W',
       '100 STEELES AVEN W', '1000 GERRARD ST E', '1035 SHEPPARD AVE W',
       '1048 BLOOR ST W', '1058 GERRARD ST E', '1071 QUEEN ST W',
       '1092 KEELE ST',
       ...
       'YORK GATE BLVD', 'YORK MILLS RD', 'YORK ST',
       'YORK ST GARDINER W  RAMP', 'YORK STREET', 'YORKDALE RD', 'YORKLAND RD',
       'YORKVILLE AVE', 'YORKWOODS GT', 'ZENITH DR'],
      dtype='object', length=1912)

In [39]:
df['STREET1_MOD'] = pd.Categorical(df['STREET1_MOD'], categories=uniques)
df['STREET2_MOD'] = pd.Categorical(df['STREET2_MOD'], categories=uniques)
df['STREET1_cc'] = df['STREET1_MOD'].cat.codes
df['STREET2_cc'] = df['STREET2_MOD'].cat.codes
df['STREET12'] = df['STREET1'] + ' & ' + df['STREET2']

So, now we have unique numbers for the street's identifiers, we can combine their codes by union them together. Since AB = BA (commutative), we will multiple the two integers together.

In [40]:
df['STREET_U'] = df['STREET1_cc'].astype(int) * df['STREET2_cc'].astype(int)

In [41]:
def get_intersection_name(val):
    filter = df['STREET_U']==val
    a = df[filter]
    st = a.iloc[0]['STREET12']
    return str(st)

this is how you use to map STREET_U code back to intersection name  
```
df['INTERSECTION_NAME'] = df.STREET_U.apply(lambda x: get_intersection_name(x))
```

## Neighbourhood Dictionary
#### Obtain a dictionary type for neighbourhood name
where you get key, value pair for neighbourhood {id: name}

In [42]:
def convert_index_to_dict(string_list):
    dct = dict()
    for s in string_list:
        res = s[s.find("(")+1:s.find(")")]
        a = int(res)
        t = s[:s.find(" (")]
        dct[a] = str(t)
    return dct

In [43]:
hood_series = df['Neighbourhood'].unique()

need to fix one value with multiple brackets

In [44]:
hood_series[hood_series == 'Mimico (includes Humber Bay Shores) (17)'] = 'Mimico includes Humber Bay Shores (17)'

In [45]:
hood_list = hood_series.tolist()
hood_dict = convert_index_to_dict(hood_list)
hood_dict[97]

'Yonge-St.Clair'

# Data Cleansing Ends Here...