In [1]:
import tps

In [2]:
ds = tps.KSIData()

INFO:tps:loading csv data...
INFO:tps:finish loading data

In [3]:
ds.df

,Index_,ACCNUM,YEAR,DATE,TIME,HOUR,STREET1,STREET2,OFFSET,ROAD_CLASS,...,CYCLISTYPE_cc,CYCACT_cc,CYCCOND_cc,INVAGE_cc,STREET1_MOD,STREET2_MOD,STREET1_cc,STREET2_cc,STREET12,STREET_U
DATE_TIME,,,,,,,,,,,,,,,,,,,,,
2006-01-02 07:05:00,3366651,884090,2006,2006-01-02 05:00:00+00:00,705,7,BATHURST ST,DUNDAS ST W,60 NORTH OF,Major Arterial,...,-1,-1,-1,7,BATHURST ST,DUNDAS ST W,346,707,BATHURST ST & DUNDAS ST W,244622
2006-01-02 07:05:00,3366652,884090,2006,2006-01-02 05:00:00+00:00,705,7,BATHURST ST,DUNDAS ST W,60 NORTH OF,Major Arterial,...,-1,-1,-1,10,BATHURST ST,DUNDAS ST W,346,707,BATHURST ST & DUNDAS ST W,244622
2006-01-04 19:40:00,3370333,885782,2006,2006-01-04 05:00:00+00:00,1940,19,DUFFERIN ST,SYLVAN AVE,NaN,Major Arterial,...,-1,-1,-1,6,DUFFERIN ST,SYLVAN AVE,695,1723,DUFFERIN ST & SYLVAN AVE,1197485
2006-01-04 19:40:00,3370334,885782,2006,2006-01-04 05:00:00+00:00,1940,19,DUFFERIN ST,SYLVAN AVE,NaN,Major Arterial,...,-1,-1,-1,16,DUFFERIN ST,SYLVAN AVE,695,1723,DUFFERIN ST & SYLVAN AVE,1197485
2006-01-06 22:10:00,3363337,882079,2006,2006-01-06 05:00:00+00:00,2210,22,DON MILLS RD,LEITH HILL RD,NaN,Major Arterial,...,-1,-1,-1,11,DON MILLS RD,LEITH HILL RD,674,1145,DON MILLS RD & LEITH HILL RD,771730
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-06-25 20:02:00,81278209,9001182119,2019,2019-06-25 04:00:00+00:00,2002,20,MIDLAND AVENUE,MIDWEST ROAD,NaN,Major Arterial,...,-1,-1,-1,5,MIDLAND AVENUE,MIDWEST ROAD,1259,1261,MIDLAND AVENUE & MIDWEST ROAD,1587599
2019-06-25 20:02:00,81278210,9001182119,2019,2019-06-25 04:00:00+00:00,2002,20,MIDLAND AVENUE,MIDWEST ROAD,NaN,Major Arterial,...,-1,-1,-1,5,MIDLAND AVENUE,MIDWEST ROAD,1259,1261,MIDLAND AVENUE & MIDWEST ROAD,1587599
2019-06-26 09:02:00,81270264,9001184914,2019,2019-06-26 04:00:00+00:00,902,9,VICTORIA ST,QUEEN ST E,NaN,Major Arterial,...,-1,-1,-1,9,VICTORIA ST,QUEEN ST E,1804,1465,VICTORIA ST & QUEEN ST E,2642860
2019-06-26 09:02:00,81270268,9001184914,2019,2019-06-26 04:00:00+00:00,902,9,VICTORIA ST,QUEEN ST E,NaN,Major Arterial,...,-1,-1,-1,12,VICTORIA ST,QUEEN ST E,1804,1465,VICTORIA ST & QUEEN ST E,2642860
2019-06-27 18:50:00,81278366,9001196370,2019,2019-06-27 04:00:00+00:00,1850,18,LAKE SHORE BLVD W,TENTH ST,6 m West of,Major Arterial,...,-1,-1,-1,9,LAKE SHORE BLVD W,TENTH ST,1110,1735,LAKE SHORE BLVD W & TENTH ST,1925850

In [4]:
mydf = ds.df

In [5]:
ds.get_total_cases()

2544

In [6]:
accidents = ds.df.ACCLASS.value_counts().sort_index(ascending=True)
accidents

False    5322
True     1162
Name: ACCLASS, dtype: int64

In [9]:
accidents.index

Index([False, True], dtype='object')

In [11]:
fy = ds.df.groupby(ds.df.DATE.dt.year)['ACCLASS'].value_counts()
fy

DATE  ACCLASS
2006  False      490
      True        81
2007  False      434
      True        76
2008  False      416
      True        82
2009  False      433
      True        82
2010  False      421
      True        60
2011  False      437
      True        52
2012  False      446
      True        67
2013  False      411
      True       136
2014  False      268
      True        75
2015  False      269
      True        91
2016  False      310
      True       106
2017  False      309
      True        82
2018  False      396
      True        91
2019  False      282
      True        81
Name: ACCLASS, dtype: int64

In [30]:
fy.unstack().index

Int64Index([2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016,
            2017, 2018, 2019],
           dtype='int64', name='DATE')