In [1]:
import tps
import pandas as pd

In [2]:
ds = tps.KSIData()

INFO:tps:loading csv data...
INFO:tps:building machine learning models...
INFO:tps:lsvc model accurary: 0.8001233806292412
INFO:tps:knn model accurary: 0.811844540407156
INFO:tps:finish loading data

In [3]:
ds.df

,Index_,ACCNUM,YEAR,DATE,TIME,HOUR,STREET1,STREET2,OFFSET,ROAD_CLASS,...,CYCLISTYPE_cc,CYCACT_cc,CYCCOND_cc,INVAGE_cc,STREET1_MOD,STREET2_MOD,STREET1_cc,STREET2_cc,STREET12,STREET_U
DATE_TIME,,,,,,,,,,,,,,,,,,,,,
2006-01-02 07:05:00,3366651,884090,2006,2006-01-02 05:00:00+00:00,705,7,BATHURST ST,DUNDAS ST W,60 NORTH OF,Major Arterial,...,-1,-1,-1,7,BATHURST ST,DUNDAS ST W,346,707,BATHURST ST & DUNDAS ST W,244622
2006-01-02 07:05:00,3366652,884090,2006,2006-01-02 05:00:00+00:00,705,7,BATHURST ST,DUNDAS ST W,60 NORTH OF,Major Arterial,...,-1,-1,-1,10,BATHURST ST,DUNDAS ST W,346,707,BATHURST ST & DUNDAS ST W,244622
2006-01-04 19:40:00,3370333,885782,2006,2006-01-04 05:00:00+00:00,1940,19,DUFFERIN ST,SYLVAN AVE,NaN,Major Arterial,...,-1,-1,-1,6,DUFFERIN ST,SYLVAN AVE,695,1723,DUFFERIN ST & SYLVAN AVE,1197485
2006-01-04 19:40:00,3370334,885782,2006,2006-01-04 05:00:00+00:00,1940,19,DUFFERIN ST,SYLVAN AVE,NaN,Major Arterial,...,-1,-1,-1,16,DUFFERIN ST,SYLVAN AVE,695,1723,DUFFERIN ST & SYLVAN AVE,1197485
2006-01-06 22:10:00,3363337,882079,2006,2006-01-06 05:00:00+00:00,2210,22,DON MILLS RD,LEITH HILL RD,NaN,Major Arterial,...,-1,-1,-1,11,DON MILLS RD,LEITH HILL RD,674,1145,DON MILLS RD & LEITH HILL RD,771730
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-06-25 20:02:00,81278209,9001182119,2019,2019-06-25 04:00:00+00:00,2002,20,MIDLAND AVENUE,MIDWEST ROAD,NaN,Major Arterial,...,-1,-1,-1,5,MIDLAND AVENUE,MIDWEST ROAD,1259,1261,MIDLAND AVENUE & MIDWEST ROAD,1587599
2019-06-25 20:02:00,81278210,9001182119,2019,2019-06-25 04:00:00+00:00,2002,20,MIDLAND AVENUE,MIDWEST ROAD,NaN,Major Arterial,...,-1,-1,-1,5,MIDLAND AVENUE,MIDWEST ROAD,1259,1261,MIDLAND AVENUE & MIDWEST ROAD,1587599
2019-06-26 09:02:00,81270264,9001184914,2019,2019-06-26 04:00:00+00:00,902,9,VICTORIA ST,QUEEN ST E,NaN,Major Arterial,...,-1,-1,-1,9,VICTORIA ST,QUEEN ST E,1804,1465,VICTORIA ST & QUEEN ST E,2642860
2019-06-26 09:02:00,81270268,9001184914,2019,2019-06-26 04:00:00+00:00,902,9,VICTORIA ST,QUEEN ST E,NaN,Major Arterial,...,-1,-1,-1,12,VICTORIA ST,QUEEN ST E,1804,1465,VICTORIA ST & QUEEN ST E,2642860
2019-06-27 18:50:00,81278366,9001196370,2019,2019-06-27 04:00:00+00:00,1850,18,LAKE SHORE BLVD W,TENTH ST,6 m West of,Major Arterial,...,-1,-1,-1,9,LAKE SHORE BLVD W,TENTH ST,1110,1735,LAKE SHORE BLVD W & TENTH ST,1925850

In [4]:
import numpy as np
pd.pivot_table(ds.df, index=['YEAR'], values=['AG_DRIV'], aggfunc=np.sum)

      AG_DRIV
YEAR
2006      210
2007      188
2008      224
2009      208
2010      208
2011      195
2012      224
2013      246
2014      158
2015      153
2016      174
2017      161
2018      198
2019      139

In [5]:
my_feature = ['MANOEUVER_cc', 'DRIVACT_cc', 'DRIVCOND_cc', 'INVAGE_cc', 'INJURY_cc']

In [6]:
a = ds.df[my_feature].head(1)
a

,MANOEUVER_cc,DRIVACT_cc,DRIVCOND_cc,INVAGE_cc,INJURY_cc
DATE_TIME,,,,,
2006-01-02 07:05:00,0,5,5,7,4

In [7]:
ds.lsvc.predict([[0,5,5,7]])

array([4], dtype=int8)

In [11]:
features_cols = ['MANOEUVER', 'DRIVACT', 'DRIVCOND', 'INVAGE']
response = ['INJURY']
my_list = features_cols + response
my_list = ['MANOEUVER', 'DRIVACT']
#my_list
ans = {}
for i in my_list:
    a = dict(enumerate(ds.df[i].cat.categories))
    new_item = {i: a}
    ans.update(new_item.copy())

ans['MANOEUVER']
# for i in t.values:
#     print(i)

{0: 'Changing Lanes',
 1: 'Disabled',
 2: 'Going Ahead',
 3: 'Making U Turn',
 4: 'Merging',
 5: 'Other',
 6: 'Overtaking',
 7: 'Parked',
 8: 'Pulling Away from Shoulder or Curb',
 9: 'Pulling Onto Shoulder or towardCurb',
 10: 'Reversing',
 11: 'Slowing or Stopping',
 12: 'Stopped',
 13: 'Turning Left',
 14: 'Turning Right',
 15: 'Unknown'}

In [19]:
a = ds.get_column_dictionary('INVAGE')
a

{0: 'Fatal', 1: 'Major', 2: 'Minimal', 3: 'Minor', 4: 'None'}

In [24]:
cols = ['MANOEUVER', 'DRIVACT', 'DRIVCOND', 'INJURY']
my_dict = {}
for i in cols:
    a = ds.get_column_dictionary(i)
    new_item = {i: a}
    my_dict.update(new_item.copy())
my_dict['INJURY']

{0: 'Fatal', 1: 'Major', 2: 'Minimal', 3: 'Minor', 4: 'None'}

In [20]:
ds.age_list_index

{0: 'unknown',
 1: '0 to 4',
 2: '5 to 9',
 3: '10 to 14',
 4: '15 to 19',
 5: '20 to 24',
 6: '25 to 29',
 7: '30 to 34',
 8: '35 to 39',
 9: '40 to 44',
 10: '45 to 49',
 11: '50 to 54',
 12: '55 to 59',
 13: '60 to 64',
 14: '65 to 69',
 15: '70 to 74',
 16: '75 to 79',
 17: '80 to 84',
 18: '85 to 89',
 19: '90 to 94',
 20: 'Over 95'}

In [25]:
my_dict['INJURY'][0]

'Fatal'